<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'BODY.PAGE_TITLES.BODY' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="large" slot="icon-only" name="stats-chart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment value="measurements">
      <ion-segment-button (click)="changeSegmentValue('measurements')" value="measurements">
        <ion-label>{{ 'BODY.SEGMENT_BUTTONS.MEASUREMENTS' | translate }}</ion-label>
      </ion-segment-button>

      <ion-segment-button (click)="changeSegmentValue('photoGallery')" value="photo-gallery">
        <ion-label>{{ 'BODY.SEGMENT_BUTTONS.PHOTO_GALLERY' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="segmentValue === 'measurements'" class="measurements-container">

    <div class="section-container horizontal-center vertical-spacer-3vh">
      <div class="section-header">
        <div class="title-container">
          <h3>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.SECTION_TITLE' | translate }}</h3>
          <p
            *ngIf="generalMeasurement?.measurementDate">{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.MEASUREMENT_DATE' | translate }}
            {{ generalMeasurement?.measurementDate ? (generalMeasurement?.measurementDate | date:'dd.MM.yyyy HH:mm') : ''}}</p>
        </div>
        <div class="section-header-options">
          <button *ngIf="generalMeasurement"
                  [routerLink]="['/', 'tabs', 'body', 'edit-general-measurement', generalMeasurement.id]">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </button>
          <button [routerLink]="['/', 'tabs', 'body', 'add-general-measurement']">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </button>
        </div>
      </div>

      <app-no-data [message]="'BODY.MEASUREMENTS.ERRORS.NO_MEASUREMENTS'" *ngIf="!generalMeasurement"></app-no-data>


      <div *ngIf="generalMeasurement" class="section-content">
        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.HEIGHT' | translate }}</p>
          <div class="measurement">
            <p>{{generalMeasurement.height ? (generalMeasurement.height | number : '1.0-2' | removeComma) + ' ' + lengthUnitShortcut : '-' }}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.WEIGHT' | translate }}</p>
          <div class="measurement">
            <p>{{generalMeasurement.weight ? (generalMeasurement.weight | number : '1.0-2') + ' ' + weightUnitShortcut : '-' }}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.BMI' | translate }}</p>
          <div class="measurement">
            <p>{{ generalMeasurement.bmi ? (generalMeasurement.bmi | number : '1.1-2') : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.LEAN_MUSCLE_MASS' | translate }}</p>
          <div class="measurement">
            <p>{{generalMeasurement.muscleContent ? generalMeasurement.muscleContent + ' %' : '-' }}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.GENERAL_MEASUREMENTS.BODY_FAT' | translate }}</p>
          <div class="measurement">
            <p>{{generalMeasurement.bodyFat ? generalMeasurement.bodyFat + ' %' : '-' }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-container horizontal-center vertical-spacer-3vh">
      <div class="section-header">
        <div class="title-container">
          <h3>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SECTION_TITLE' | translate }}</h3>
          <p
            *ngIf="bodyMeasurement?.measurementDate">{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.MEASUREMENT_DATE' | translate }}
            {{ bodyMeasurement?.measurementDate ? (bodyMeasurement?.measurementDate | date:'dd.MM.yyyy HH:mm') : ''}}</p>
        </div>
        <div class="section-header-options">
          <button *ngIf="bodyMeasurement"
                  [routerLink]="['/', 'tabs', 'body', 'edit-body-measurement', bodyMeasurement.id]">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </button>
          <button [routerLink]="['/', 'tabs', 'body', 'add-body-measurement']">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </button>
        </div>
      </div>

      <app-no-data [message]="'BODY.MEASUREMENTS.ERRORS.NO_MEASUREMENTS'" *ngIf="!bodyMeasurement"></app-no-data>

      <div *ngIf="bodyMeasurement" class="section-content">
        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.CHEST' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.chest ? (bodyMeasurement.chest | number : '1.0-2') + ' ' + lengthUnitShortcut : '-' }}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.BICEPS' | translate }}</p>
          <div class="measurement">
            <p>
              {{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.bicepsLeft ? (bodyMeasurement.bicepsLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.bicepsRight ? (bodyMeasurement.bicepsRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.FOREARM' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.forearmLeft ? (bodyMeasurement.forearmLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.forearmRight ? (bodyMeasurement.forearmRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.WAIST' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.waist ? (bodyMeasurement.waist | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.HIP' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.hip ? (bodyMeasurement.hip | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.THIGH' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.thighLeft ? (bodyMeasurement.thighLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.thighRight ? (bodyMeasurement.thighRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.CALF' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.calfLeft ? (bodyMeasurement.calfLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.calfRight ? (bodyMeasurement.calfRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="segmentValue === 'photoGallery'" class="photo-gallery-container vertical-spacer-1vh horizontal-center">
    <div class="button-container vertical-spacer-3vh horizontal-center"
         [routerLink]="['/', 'tabs', 'body', 'add-photo']">
      <button class="button button-fill" type="submit">
        <div class="button-content-container horizontal-center">
          <ion-icon name="add-outline"></ion-icon>
          <p>{{ 'BODY.PHOTO_GALLERY.BUTTONS.ADD_PHOTO' | translate }}</p>
        </div>
      </button>
    </div>

    <app-no-data [message]="'BODY.PHOTO_GALLERY.ERRORS.NO_MEASUREMENTS'" *ngIf="!images"></app-no-data>

    <div *ngIf="images" class="images-container vertical-spacer-3vh">
      <div class="image-container" [routerLink]="['/', 'tabs', 'body', 'photo-details', image.id]" *ngFor="let image of images">
        <ion-thumbnail>
          <img alt="Silhouette of mountains"
               [src]="image.image.data"/>
        </ion-thumbnail>
      </div>
    </div>
  </div>


  <div class="vertical-spacer-3vh"></div>
</ion-content>
