<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plans</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-button (click)="logout()" [disabled]="!hasValidAccessToken">Logout</ion-button>

      <div class="keycloak-data" *ngIf="realmRoles.length > 0">
        <p>Realm Roles</p>
        <pre>{{realmRoles | json}}</pre>
      </div>

      <div class="keycloak-data" *ngIf="userProfile">
        <p>UserProfile</p>
        <span>{{userProfile | json}}</span>
      </div>

    </div>
  </ion-content>

