.no-content-container {
  height: 20vh;
  width: 100%;
  p {
    text-align: center;
    color: var(--ion-color-secondary);
    padding-top: 8vh;
    margin: 0;
    font-size: 2rem;
    width: auto;
  };
}
