.no-content-container {
  height: 20vh;
  width: 100%;
  p {
    text-align: center;
    color: var(--ion-color-secondary);
    padding: 8vh 8vw 0 8vw ;
    margin: 0;
    font-size: 2rem;
    width: auto;
  };
}
