ion-header ion-toolbar ion-title {
  padding-left: 1rem;
}

.exercises-container {
  height: 57vh;
  overflow: scroll;
  .exercise-reorder-container {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 1rem;

    .exercise-container {
      width: 90%;
      border: 1px solid var(--ion-color-secondary);
      border-radius: 2rem;
      overflow: hidden;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;

      .thumbnail-container {
        margin: 0 0.5rem 0 1rem;

        ion-thumbnail {
          --border-radius: 50rem;
        }
      }

      .title-container {
        color: var(--ion-color-secondary);
        width: 75%;

        h3 {
          margin: 1rem 0;
          font-size: 1.6rem;
          font-weight: bold;
        }

        p {
          font-size: 1.4rem;
          margin: 0.4rem 0;
        }
      }

      .exercise-options {
        background-color: var(--ion-color-primary);

        button {
          padding: 0.3rem;
          border-radius: 2rem;
          background-color: var(--ion-color-primary);
          transition: all 0.2s ease-out;

          &:active {
            background-color: var(--ion-color-primary-shade);
          }


          ion-icon {
            color: var(--ion-color-secondary);
            font-size: 3.2rem;
          }
        }
      }
    }
  }
}

ion-reorder {
  color: var(--ion-color-secondary);
}

.button-container {
  width: 32rem;
  height: 8rem;
}
