<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'HISTORY.PAGE_TITLES.HISTORY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <app-no-data [message]="'HISTORY.ERRORS.NO_TRAININGS'" *ngIf="trainings?.length === 0"></app-no-data>

  <div class="exercises-container vertical-spacer-2vh">
    <ion-list class="vertical-spacer-3vh horizontal-center">
      <ion-item-sliding *ngFor="let training of trainings"
                        class="simple-item-container horizontal-center vertical-spacer-1vh">
        <ion-item [routerLink]="['/', 'tabs', 'history', training.id]">
<!--          <ion-avatar>-->
<!--            <img alt="Silhouette of mountains"-->
<!--                 [src]="trainingPlanExercise.exercise.image ? trainingPlanExercise.exercise.image.data : 'https://www.fabrykasily.pl/upload/gallery/2019/03/id_20907_1552923804_1260x840.jpg'"/>-->
<!--          </ion-avatar>-->
          <ion-label class="ion-text-wrap ion-padding-start">
            <h3>{{training.name}}</h3>
            <h4>
              {{'HISTORY.TRAINING_DATE' | translate}}: {{training.startTime | date:'dd.MM.yyyy HH:mm'}}
            </h4>
            <div class="duration-container">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{getTrainingDuration(training)}}</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteTraining(training.id!)" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>



  <div class="vertical-spacer-3vh"></div>
</ion-content>
