<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/training-plans"></ion-back-button>
    </ion-buttons>
    <ion-title class="padding-left-small">{{ 'HISTORY.TRAINING_DETAILS.PAGE_TITLES.TRAINING_DETAILS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <div class="training-details-container horizontal-center vertical-spacer-2vh">
    <div class="training-summary-container">
      <div class="training-description-container">
        <div class="training-header horizontal-center">
          <h2>{{training?.name}}</h2>
          <h4>{{training?.startTime | date:'dd.MM.yyyy HH:mm'}}</h4>
        </div>

        <div class="training-statistics-container horizontal-center">
          <div class="training-statistics-row">
            <div class="training-statistics-item">
              <ion-icon name="time-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.DURATION' | translate }}</span>
                <span class="statistic-value">{{trainingDuration}}</span>
              </div>
            </div>

            <div class="training-statistics-item">
              <ion-icon name="accessibility-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.EXERCISES_PERFORMED' | translate }}</span>
                <span class="statistic-value">{{performedExercises}}</span>
              </div>
            </div>
          </div>

          <div class="training-statistics-row">
            <div class="training-statistics-item">
              <ion-icon name="aperture-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.SETS_PERFORMED' | translate }}</span>
                <span class="statistic-value">{{performedSets}}</span>
              </div>
            </div>

            <div class="training-statistics-item">
              <ion-icon name="refresh-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.REPEATS_PERFORMED' | translate }}</span>
                <span class="statistic-value">{{performedRepeats}}</span>
              </div>
            </div>
          </div>

          <div class="training-statistics-row">
            <div class="training-statistics-item">
              <ion-icon name="barbell-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.MAX_WEIGHT' | translate }}</span>
                <span class="statistic-value">{{maxWeight}} {{weightUnitShortcut}}</span>
              </div>
            </div>

            <div class="training-statistics-item">
              <ion-icon name="barbell-outline"></ion-icon>
              <div class="text-container">
                <span class="statistic-label">{{ 'HISTORY.TRAINING_DETAILS.SUMMARY.TOTAL_WEIGHT' | translate }}</span>
                <span class="statistic-value">{{totalWeight}} {{weightUnitShortcut}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="involved-muscles-container horizontal-center vertical-spacer-1vh">
        <span class="involved-muscles-label">{{ 'HISTORY.TRAINING_DETAILS.ENGAGED_MUSCLES' | translate }}</span>
        <div class="involved-muscles-values">
          <ng-container
            *ngFor="let muscle of musclesEngagedInTraining; let last = last">{{'MUSCLES.' + muscle | translate}}<span
            *ngIf="!last">, </span>
          </ng-container>
        </div>


      </div>
    </div>

    <div class="training-exercises vertical-spacer-3vh">
      <h2>{{ 'HISTORY.TRAINING_DETAILS.EXERCISES_LIST.TITLE' | translate }}</h2>

      <div *ngFor="let trainingExercise of training?.trainingExercises"
        class="section-container horizontal-center vertical-spacer-3vh">
                <div class="section-header">
          <ion-avatar>
            <img alt="Silhouette of mountains"
                 [src]="trainingExercise.exercise.image ? trainingExercise.exercise.image.data : 'https://www.fabrykasily.pl/upload/gallery/2019/03/id_20907_1552923804_1260x840.jpg'"/>
          </ion-avatar>
          <div class="title-container">
            <h3>{{trainingExercise.exercise.name}}</h3>
          </div>
        </div>



      <div class="section-content">
        <div *ngFor="let exerciseSet of trainingExercise.exerciseSets; let index = index" class="item">
          <p>{{ ('HISTORY.TRAINING_DETAILS.EXERCISES_LIST.SET' | translate) +' '+ (index + 1) +'.'}}</p>
            <p>{{ ('HISTORY.TRAINING_DETAILS.EXERCISES_LIST.WEIGHT' | translate) + ':' }}
              {{exerciseSet.weight}} {{weightUnitShortcut}}
            </p>
            <p>{{ ('HISTORY.TRAINING_DETAILS.EXERCISES_LIST.REPEATS' | translate) + ':' }}
              {{exerciseSet.repeats}}
            </p>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div class="vertical-spacer-3vh"></div>
</ion-content>
