<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>diet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="temp-container horizontal-center vertical-spacer-5vh">
      <div class="temp-item">
      </div>

      <div class="temp-item">
      </div>

      <div class="temp-item">
      </div>

      <div class="temp-item">
      </div>

      <div class="temp-item">
      </div>

      <div class="temp-item">
      </div>
    </div>
</ion-content>
