<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="previousUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Wyciskanie sztangi na ławce płaskiej' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment value="description">
      <ion-segment-button (click)="changeSegmentValue('description')" value="description">
        <ion-label>{{ 'Opis' | translate }}</ion-label>
      </ion-segment-button>

      <ion-segment-button (click)="changeSegmentValue('history')" value="history">
        <ion-label>{{ 'Historia' | translate }}</ion-label>
      </ion-segment-button>

      <ion-segment-button (click)="changeSegmentValue('statistics')" value="statistics">
        <ion-label>{{ 'Statystyki' | translate }}</ion-label>
      </ion-segment-button>

      <ion-segment-button (click)="changeSegmentValue('charts')" value="charts">
        <ion-label>{{ 'Wykresy' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="segmentValue === 'description'" class="description-container vertical-spacer-2vh horizontal-center">
    <div class="image-container">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a93c82108677535.5fc3684e78f67.gif" alt="Temp">
    </div>

    <div class="instruction-container vertical-spacer-2vh">
      <h3>Instrukcja</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel imperdiet nisi.
      Vivamus sollicitudin ultrices hendrerit. Duis sem augue, dignissim in est id,
      vulputate interdum elit. Vestibulum mi augue, consequat a interdum id, efficitur efficitur odio.
      Aenean dignissim ullamcorper justo, sit amet accumsan nulla tempus at.
    </div>

    <div class="engaged-muscles-container vertical-spacer-1vh">
      <h3>Zaangażowane mięśnie</h3>
      Klatka piersiowa, biceps, triceps, barki
    </div>
    <div class="exercise-categories-container vertical-spacer-1vh">
      <h3>Grupa ćwiczeń</h3>
      Klatka piersiowa
    </div>
  </div>

  <div *ngIf="segmentValue === 'history'" class="measurements-container">
    Historia
  </div>

  <div *ngIf="segmentValue === 'statistics'" class="measurements-container">
    Statystyki
  </div>

  <div *ngIf="segmentValue === 'charts'" class="measurements-container">
    Wykresy
  </div>

  <div class="vertical-spacer-1vh"></div>
</ion-content>
