<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/training-plans"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Wybierz grupę ćwiczeń' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="simple-items-container vertical-spacer-3vh">
        <div class="simple-item-container horizontal-center"
             [routerLink]="['/', 'tabs', 'training-plans', 'training-plan', 'exercise-groups', 'exercises']">
          <div class="thumbnail-container">
            <ion-thumbnail>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
            </ion-thumbnail>
          </div>
          <div class="title-container">
            <h3>Klatka piersiowa</h3>
          </div>
        </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Barki</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Plecy - dół</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Plecy - góra</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Biceps</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Triceps</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Przedramiona</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Brzuch</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Nogi</h3>
      </div>
    </div>

    <div class="simple-item-container horizontal-center">
      <div class="thumbnail-container">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" ngSrc="https://ionicframework.com/docs/img/demos/thumbnail.svg" height="48" width="48"/>
        </ion-thumbnail>
      </div>
      <div class="title-container">
        <h3>Własne</h3>
      </div>
    </div>

  </div>

  <div class="button-container vertical-spacer-3vh horizontal-center">
    <button class="button button-fill" type="submit">
      <div class="button-content-container horizontal-center">
        <p>Dodaj własne ćwiczenie</p>
      </div>
    </button>
  </div>

  <div class="vertical-spacer-1vh"></div>
</ion-content>
