<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/body"></ion-back-button>
    </ion-buttons>
    <ion-title>Wprowadź dane</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>Dane ogólne</ion-card-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label>Waga</ion-label>
          <ion-text>73 kg</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Wzrost</ion-label>
          <ion-text>185 cm</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>BMI</ion-label>
          <ion-text>21,3</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Zawartość mięśni</ion-label>
          <ion-text>40% (32 kg)</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Zawartość tłuszczu</ion-label>
          <ion-text>19% (15 kg)</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-row>
  <ion-button>
    <ion-icon name="checkmark-outline"></ion-icon>
    <ion-text>zapisz</ion-text>
  </ion-button>
  </ion-row>

</ion-content>
