<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="history">
      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plans">
      <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>
      <ion-label>Plans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diet">
      <ion-icon name="fast-food-outline" aria-hidden="true"></ion-icon>
      <ion-label>Diet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="body">
      <ion-icon name="accessibility-outline" aria-hidden="true"></ion-icon>
      <ion-label>Body</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline" aria-hidden="true"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
