<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/body"></ion-back-button>
    </ion-buttons>
    <ion-title
      class="padding-left-small">{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.PAGE_TITLES.BODY_MEASUREMENTS_HISTORY' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'tabs', 'body', 'add-body-measurement']">
        <ion-icon size="large" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let bodyMeasurement of bodyMeasurements">
    <div class="section-container horizontal-center vertical-spacer-3vh">
      <div class="section-header">
        <div class="title-container">
          <h3>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SECTION_TITLE' | translate }}</h3>
          <p
            *ngIf="bodyMeasurement?.measurementDate">{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.MEASUREMENT_DATE' | translate }}
            {{ bodyMeasurement?.measurementDate ? (bodyMeasurement?.measurementDate | date:'dd.MM.yyyy HH:mm') : ''}}</p>
        </div>
        <div class="section-header-options">
          <button *ngIf="bodyMeasurement"
                  (click)="deleteBodyMeasurement(bodyMeasurement.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </button>
          <button [routerLink]="['/', 'tabs', 'body', 'edit-body-measurement', bodyMeasurement.id]">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </button>
        </div>
      </div>

      <app-no-data [message]="'BODY.MEASUREMENTS.ERRORS.NO_MEASUREMENTS'" *ngIf="!bodyMeasurement"></app-no-data>

      <div *ngIf="bodyMeasurement" class="section-content">
        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.CHEST' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.chest ? (bodyMeasurement.chest | number : '1.0-2') + ' ' + lengthUnitShortcut : '-' }}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.BICEPS' | translate }}</p>
          <div class="measurement">
            <p>
              {{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.bicepsLeft ? (bodyMeasurement.bicepsLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.bicepsRight ? (bodyMeasurement.bicepsRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.FOREARM' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.forearmLeft ? (bodyMeasurement.forearmLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.forearmRight ? (bodyMeasurement.forearmRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.WAIST' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.waist ? (bodyMeasurement.waist | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.HIP' | translate }}</p>
          <div class="measurement">
            <p>{{bodyMeasurement.hip ? (bodyMeasurement.hip | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.THIGH' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.thighLeft ? (bodyMeasurement.thighLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.thighRight ? (bodyMeasurement.thighRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>

        <div class="item">
          <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.CALF' | translate }}</p>
          <div class="measurement">
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.LEFT' | translate }}
              {{bodyMeasurement.calfLeft ? (bodyMeasurement.calfLeft | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
            <p>{{ 'BODY.MEASUREMENTS.BODY_MEASUREMENTS.SIDES.SHORTCUTS.RIGHT' | translate }}
              {{bodyMeasurement.calfRight ? (bodyMeasurement.calfRight | number : '1.0-2') + ' ' + lengthUnitShortcut : '-'}}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
