.login-title {
  display: block;
  color: var(--ion-color-secondary);
  font-weight: 600;
  font-size: 3.4rem;
  margin: 0 auto;
  padding: 0 6rem 0 0;
}

.normal-text {
  color: var(--ion-color-secondary);
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0 auto;
}

.login-options-container {
  display: flex;
  gap: 1rem;
  width: 26rem;
}

.form-container {
  width: 100%;
}

.form-inputs-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

