<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Więcej opcji</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="options-container">
    <div class="option-container"
         [routerLink]="['/', 'tabs', 'more', 'exercise-groups']">
      <div class="icon-container">
        <ion-icon name="barbell-outline"></ion-icon>
      </div>
      <div class="label-container">
        Ćwiczenia
      </div>
    </div>

    <div class="option-container">
      <div class="icon-container">
        <ion-icon name="moon-outline"></ion-icon>
      </div>
      <div class="label-container">
        Dziennik snu
      </div>
    </div>

    <div class="option-container"
         [routerLink]="['/', 'tabs', 'more', 'activities']">
      <div class="icon-container">
        <ion-icon name="bicycle-outline"></ion-icon>
      </div>
      <div class="label-container">
        Aktywność
      </div>
    </div>

    <div class="option-container">
      <div class="icon-container">
        <ion-icon name="woman-outline"></ion-icon>
      </div>
      <div class="label-container">
        Monitor cyklu
      </div>
    </div>

    <div class="option-container">
      <div class="icon-container">
        <ion-icon name="medal-outline"></ion-icon>
      </div>
      <div class="label-container">
        Wyzwania
      </div>
    </div>

    <div class="option-container"
         [routerLink]="['/', 'tabs', 'more', 'user-settings']">
      <div class="icon-container">
        <ion-icon name="settings-outline"></ion-icon>
      </div>
      <div class="label-container">
        Ustawienia
      </div>
    </div>

    <div class="option-container" (click)="logout()" >
      <div class="icon-container">
        <ion-icon name="exit-outline"></ion-icon>
      </div>
      <div class="label-container">
        Wyloguj się
      </div>
    </div>
  </div>

</ion-content>
