<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="trainingPlanId ? '/tabs/training-plans/' + trainingPlanId + '/exercise-groups'
       : '/tabs/training-plans'"></ion-back-button>
    </ion-buttons>
    <ion-title
      class="padding-left-small">{{ 'ADD_TRAINING_PLAN_EXERCISE.PAGE_TITLES.ADD_TRAINING_PLAN_EXERCISE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="content-container horizontal-center vertical-spacer-2vh">
    <h3>{{trainingPlanExercise?.exercise?.name}}
      <ion-icon name="information-circle-outline"
                [routerLink]="['/', 'tabs', 'more', 'exercise-groups', 'exercise', trainingPlanExercise?.exercise?.id]"></ion-icon>
    </h3>

    <ion-thumbnail>
      <img alt="Silhouette of mountains"
           [src]="trainingPlanExercise?.exercise?.image ? trainingPlanExercise?.exercise?.image?.data : 'https://www.fabrykasily.pl/upload/gallery/2019/03/id_20907_1552923804_1260x840.jpg'"/>
    </ion-thumbnail>

    <div class="form-container vertical-spacer-2vh horizontal-center">
      <form (ngSubmit)="validateAndUpdateTrainingPlanExercise(editTrainingPlanExerciseForm)"
            [formGroup]="editTrainingPlanExerciseForm">

        <div class="form-inputs-container">
          <div class="input-container">
            <input type="text" id="note" formControlName="note" placeholder="&nbsp;">
            <label for="note" class="input-label">
              <ion-icon name="reader-outline"></ion-icon>
              {{ 'ADD_TRAINING_PLAN_EXERCISE.ADD_NOTE' | translate }}</label>
          </div>

          <div class="vertical-spacer-1vh"></div>

          <div class="small-inputs-container horizontal-center">
            <div class="sets-input-container">
              <div class="sets-value-container">{{ 'ADD_TRAINING_PLAN_EXERCISE.SETS' | translate }}
                : {{setsCount}}</div>
              <ion-icon name="remove-outline" (click)="removeSet()"></ion-icon>
              <ion-icon name="add-outline" (click)="addSet()"></ion-icon>
            </div>
          </div>
        </div>

        <div class="sets-container vertical-spacer-1vh" formArrayName="exerciseSets">
            <div class="set-container"
                 *ngFor="let exerciseSet of exerciseSets.controls; let i = index" [formGroupName]="i">
              <div class="set-header">
                <h3>{{ 'ADD_TRAINING_PLAN_EXERCISE.SET' | translate }} {{i + 1}}.</h3>
              </div>

              <div class="set-inputs-container">
                <div class="set-input-container">
                  <label for="weight" class="input-label">{{ 'ADD_TRAINING_PLAN_EXERCISE.WEIGHT' | translate }}
                    : {{'(' + weightUnitShortcut + ')'}}</label>
                  <input type="number" id="weight" formControlName="weight" placeholder="&nbsp;">
                  <ion-icon name="remove-outline" (click)="subtractWeight(i)"></ion-icon>
                  <ion-icon name="add-outline" (click)="addWeight(i)"></ion-icon>
                </div>
                <div class="set-input-container">
                  <label for="repeats"
                         class="input-label">{{ 'ADD_TRAINING_PLAN_EXERCISE.REPEATS' | translate }}</label>
                  <input type="number" id="repeats" formControlName="repeats" placeholder="&nbsp;">
                  <ion-icon name="remove-outline" (click)="subtractRepeat(i)"></ion-icon>
                  <ion-icon name="add-outline" (click)="addRepeat(i)"></ion-icon>
                </div>
              </div>
            </div>
        </div>




        <div class="button-container vertical-spacer-3vh horizontal-center">
          <button class="button button-fill" type="submit">
            <div class="button-content-container horizontal-center">
              <ion-icon name="checkmark-outline"></ion-icon>
              <p>{{ 'ADD_TRAINING_PLAN_EXERCISE.BUTTONS.SAVE' | translate}}</p>
            </div>
          </button>
        </div>
        <div class="vertical-spacer-3vh">
        </div>
      </form>
    </div>
  </div>



<!--  <div class="temp-container vertical-spacer-5vh">-->
<!--    <div class="temp-item">-->
<!--    </div>-->

<!--    <div class="temp-item">-->
<!--    </div>-->

<!--    <div class="temp-item">-->
<!--    </div>-->

<!--    <div class="temp-item">-->
<!--    </div>-->

<!--    <div class="temp-item">-->
<!--    </div>-->

<!--    <div class="temp-item">-->
<!--    </div>-->
<!--  </div>-->

</ion-content>
