ion-header ion-toolbar ion-title {
  padding-left: 1rem;
}

input[type=number] {
  width: 7rem;
  text-align: center;
}

.measurement {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.measurement-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.6rem;
  }
}
